ul {
    display: flex;
    gap: 2rem;
  
}

summary {
    color: aqua;
    background-color: pink;;
}

body {
    background-color: beige;
}


/* styles for certificats */

.cert-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cert-list li {
  padding: 0.5rem 1rem;
  background: #eee;
  border-radius: 5px;
  transition: background 0.2s;
}

.cert-list li:hover {
  background: #ddd;
}

.cert-viewer {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  max-height: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
